@import url(./root.css);

#theme-switcher {
    display: none;
}

.theme-switcher-area {
    border: 1px solid var(--us-color-light);
    background: var(--us-color-dark);
    border-radius: 2rem;
    width: 4.5rem;
    height: 2.5rem;
    padding: 0.2rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.theme-switcher-button {
    position: relative;
    display: block;
    background: #f1aa02;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    border: 2px dashed var(--us-color-dark);
    transition: 0.3s;
}

.theme-switcher-button::after {
    position: absolute;
    width: 80%;
    height: 80%;
    content: "";
    background: var(--us-color-dark);
    border-radius: 50%;
    opacity: 0;
    transition: 0.3s;
}

#theme-switcher:checked + #app-container .theme-switcher-button {
    transform: translateX(100%);
    border: none;
}

#theme-switcher:checked + #app-container .theme-switcher-button::after {
    opacity: 1;
}

#theme-switcher:checked + #app-container .theme-switcher-button::after {
    opacity: 1;
}

#theme-switcher:checked + #app-container {
    background-color: var(--us-color-dark);
}