@import url(./root.css);

header {
    background-color: aquamarine;
    height: 10vh;
}

main {
    background-color: bisque;
    
    height: 55vh;
    display: flex;
    flex-direction: row;
}

#section-login {
    background-color: blue;
    
    width: 30vw;
    display: flex;
    flex-direction: column;
}

#section-cards {
    background-color: blueviolet;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#section-cards ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    word-wrap: 1;
}

#section-cards div {
    background-color: brown;
}

#section-other-access {
    height: 15vh;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: chocolate;

    height: 20vh;
    display: flex;
    flex-direction: row;
}

footer section nav ul {
    display: flex;
    flex-direction: row;
}